body{
    background-color: yellow;
    padding: 15px 10px;
}

header{
    background-color: blue;
}

nav{
    background-color: green;
    height: 50px;
}

section{
    background-color: red;
}

aside{
    background-color: cyan;
}

.promo{
    background-color: orange;
}

footer{
    background-color: black;
    color: white;
    height: 50px;
}

p{
    font-weight:bold;
} 

.border{
    border: 2px solid black;
}


/* SHARING */
section aside{
    height: 200px;
}

header .promo{
    height: 150px;
}